// $bg-color: #001f27;
// $content-bg-color: #002b36;
// $menu-hover-bg-color: #003b4a;
// $text-color: #839496;
// $link-color: #2aa198;

$bg-color: #303130;
$content-bg-color: #272822;
$menu-hover-bg-color: #202020;
$text-color: #edeee7;
$link-color: #8ae22e;
$comment-color: #75715e;

$icon-font-path: "../fonts/";
